@import "./reset.css";

html{
    font-family: "NotoSansR";
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
}
button{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

    cursor: pointer;
    border: none;
    background: none;
}

.App{
    width: 100%;
}