.Calendar{
    flex: 4 4 0;
    display: flex;
    flex-direction: column;
}

.days{
    display: flex;
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #ddd;
}
.day{
    display:flex;
    align-items: center;
    justify-content: center;
    width: calc(100% / 7);
    color: #999;
    font-size: 12px;
    text-align: center;
    border-radius:5px
}
.dates{
    display: flex;
    flex-flow: wrap;
    flex: 1 1 0;
}