.Day{
    width: calc(100% / 7);
    padding: 10px;
    transition : padding 0.1s;
    border-radius: 5px;
}
.box{
    box-sizing: border-box;
    height: 100%;
    width: 100%;
    display:flex;
    align-items: center;
    color: rgb(109, 109, 109);
    font-size: 12px;
    text-align: center;
    border-radius:5px;
    background-color: rgb(247, 246, 243);
    
    flex-direction: column;
    
    cursor: pointer;
}
.cur{
    background-color: rgb(233, 232, 231);
}
.box:hover{
    background-color: rgb(255, 255, 255);
}
.select{
    background-color: rgb(235, 87, 87, 0.5);
}
.select:hover{
    background-color: rgb(235, 87, 87, 0.8);
}
.Day:nth-child(7n+1), .Day:nth-child(7n), .off{
    background-color: rgba(237, 42, 97, 0.2);
}