button{
    font-size: 15px;
    border-radius: 8px;
    padding: 8px;
}
button:hover{
    background-color: rgb(228, 228, 228);
}

.activeBtn{
    background-color: rgb(228, 228, 228);
}

.modal{
    position: absolute;
    top: 62px;
    right: 40px;

    width: 400px;
    height: 500px;
    max-height: 80vh;
    background-color: white;
    border-radius: 4px;
    box-shadow: rgb(15 15 15 / 5%) 0px 0px 0px 1px, rgb(15 15 15 / 10%) 0px 3px 6px, rgb(15 15 15 / 20%) 0px 9px 24px;

    padding-top: 25px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}