.PointEditModal{

    visibility: hidden;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 350px;
    height: 420px;
    background-color: white;
    border-radius: 4px;
    box-shadow: rgb(15 15 15 / 5%) 0px 0px 0px 1px, rgb(15 15 15 / 10%) 0px 3px 6px, rgb(15 15 15 / 20%) 0px 9px 24px;
    z-index: 1;
    padding: 20px;
}

.title{
    font-weight: 400;
    font-size: 20px;
}