@import "./Reset.css";

body {
  font-family: Gotham, "Gotham SSm A", "Gotham SSm B", "Noto Sans KR",
    -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue",
    Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol", "Noto Color Emoji";
  margin: 10px;
}

h2 {
  font-size: 18px;
  font-weight: bold;
}
