.refrige {
    height: 420px;
    border-radius: 12px;
    padding: 10px;
    margin-bottom: 10px;
    background-image: linear-gradient(
        to bottom right,
        rgba(138, 146, 218, 0.79),
        rgba(92, 102, 204, 0.443),
        rgba(130, 135, 175, 0.453),
        rgba(124, 208, 255, 1)
    );
}
.h2 {
    color: white;
}
  