.header{
    display: flex;
    padding: 10px;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(71, 71, 71);
    color: white;
    box-shadow: 0 17px 20px -18px rgba(0, 0, 0, 1);  
}

.forward{
    display: flex;
    align-items: flex-end;
}
.h1{
    font-size: 30px;
    margin-right: 5px;
}
.h2{
    font-size: 20px;
}

.month{
    cursor: pointer;
    font-size: 25px;
    font-weight: bold;
}

.point, .vacation{
    border: none;
    margin: 5px;
    border-radius: 5px;
    cursor: pointer;
    padding: 5px;
    font-size: 16px;
}

.point:hover, .vacation:hover{
    transform: scale(1.1);
    transition: ease 0.3s;
}